@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.nav{
    width: 100%;
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 0.01rem solid #F3F3F3;
    div{
        margin-bottom: 0.1rem;
    }
    div:nth-of-type(1){
        width: 30%;
        img{
            width: 100%;
        }
    }
    div:nth-of-type(2){
        width: 50%;
        font-size: 0.24rem;
        color: #000;
        text-align: center;
        line-height: 0.45rem;
    }
    div:nth-of-type(3){
        width: 20%;
        display: flex;
        justify-content: flex-start;
        ul{
            width: 50%;
            span{
                font-size: 0.15rem;
            }
            p{
                font-size: 0.18rem;
            }
        }
    }
}
.per{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.18rem;
    div:nth-of-type(1){
        width: 40%;
        margin-left: 0.15rem;
        img{
            width: 100%;
        }
    }
    div:nth-of-type(2){
        width: 60%;
        margin-left: 0.125rem;
        p:nth-of-type(1){
            font-size: 0.18rem;
        }
        p:nth-of-type(2){
            margin-top: 0.18rem;
            span:nth-of-type(1){
                font-size: 0.14rem;
                color: #D2D2D2;
            }
            span:nth-of-type(2){
                font-size: 0.15rem;
                color: #ff4351;
            }
        }
        p:nth-of-type(3){
            margin-top: 0.14rem;
            span:nth-of-type(1){
                font-size: 0.14rem;
                color: #D2D2D2;
            }
            span:nth-of-type(2){
                font-size: 0.14rem;
            }
        }
        p:nth-of-type(4){
            margin-top: 0.1rem;
            span:nth-of-type(1){
                font-size: 0.14rem;
                color: #D2D2D2;
            }
            span:nth-of-type(2){
                font-size: 0.14rem;
                color: #ff4351;;
            }
        }
    }
}
.font{
    width: 100%;
    margin-top: 0.15rem;
    padding-left: 0.15rem;
    box-sizing: border-box;
    border-bottom: 0.045rem solid #F4F4F4;
    span{
        line-height: 0.35rem;
    }
    span:nth-of-type(1){
        font-size: 0.1rem;
    }
    span:nth-of-type(2){
        font-size: 0.1rem;
    }
}
.info{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    padding-left: 0.15rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.01rem solid #F4F4F4;
    li:nth-of-type(2){
        border-bottom: 0.05rem solid #39C894;
    }
    li{
        width: 20%;
        font-size: 0.14rem;
        display: flex;
        div{
            width: 0.01rem;
            height: 0.27rem;
            background-color: #f4f4f4;
            margin-top: 0.08rem;
            margin-left: 0.15rem;
        }
    }
}
.bor{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-top: 0.18rem;
    li:nth-of-type(1){
        width: 20%;
        height: 0.27rem;
        color: white;
        font-size: 0.14rem;
        text-align: center;
        line-height: 0.27rem;
        background-color: #36C893;
        border-radius: 0.2rem 0.2rem;
        margin-left: 0.12rem;
    }
    li:nth-of-type(2){
        border: 0.01rem solid #36C893;
        color: #36C893;
        font-size: 0.14rem;
        text-align: center;
        width: 20%;
        height: 0.27rem;
        line-height: 0.27rem;
        background-color: white;
        border-radius: 0.2rem 0.2rem;
        margin-left: 0.06rem;
    }
    li:nth-of-type(3){
        border: 0.01rem solid #36C893;
        color: #36C893;
        font-size: 0.14rem;
        text-align: center;
        width: 20%;
        height: 0.27rem;
        line-height: 0.27rem;
        background-color: white;
        border-radius: 0.2rem 0.2rem;
        margin-left: 0.06rem;
    }
    li:nth-of-type(4){
        border: 0.01rem solid #36C893;
        color: #36C893;
        font-size: 0.14rem;
        text-align: center;
        width: 30%;
        height: 0.27rem;
        line-height: 0.27rem;
        background-color: white;
        border-radius: 0.2rem 0.2rem;
        margin-left: 0.06rem;
    }
    li:nth-of-type(5){
        border: 0.01rem solid #36C893;
        border-right: none;
        color: #36C893;
        font-size: 0.14rem;
        text-align: center;
        width: 10%;
        height: 0.27rem;
        line-height: 0.27rem;
        background-color: white;
        border-radius: 0.2rem 0 0 0.2rem;
        margin-left: 0.06rem;
        overflow: hidden;
    }
}
.tab{
    border-bottom: 0.045rem solid #E9E9E9;
    width: 100%;
    table{
        margin-bottom: 0.18rem;
        margin-top: 0.18rem;
        th{
            color: #36C893;
            font-size: 0.1rem;
        }
        tr{
            border-left: hidden;
            border-right: hidden;
        }
        td{
            color: #999;
            font-size: 0.1rem;
            padding-left: 0.18rem;
        }
    }
}

.zi{
    width: 100%;
    border-bottom: 0.045rem solid #F4F4F4;
    div{
       font-size: 0.14rem;
       text-indent: 0.18rem;
       margin-top: 0.18rem;
       margin-bottom: 0.18rem; 
       line-height: 0.3rem;
       font-family: "微软雅黑";
    }
}
.fh{
    width: 100%;
    position: relative;
    div{
        font-size: 0.55rem;
        position: absolute;
        right: 0.1rem;
        top: -0.2rem;
        color: #ccc;
    }
}
.bot{
    width: 100%;
    text-align: center;
    margin-top: 0.18rem;
    a{
        color: #8AE0C0;
    }
    span{
        font-size: 0.14rem;
        color: #333;
    }
}
.last{
    width: 100%;
    display: flex;
    margin-top: 0.18rem;
    justify-content: space-around;
    text-align: center;
    li{
        width: 25%;
        font-size: 0.14rem;
    }
    li:nth-of-type(1){
        color: #8ADCBC;
    }
}
.ul6{
    width: 100%;
    text-align: center;
    height: 0.53rem;
    line-height: 0.53rem;
    background-color: #FE6A73;
    li{
        color: white;
        font-size: 0.18rem;
    }
}
.foot{
    width: 100%;
    img{
        width: 100%;
    }
}
