@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

.nav{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div:nth-of-type(1){
        width: 85%;
        img{
            width: 40%;
        }
    }
    div:nth-of-type(2){
        width: 15%;
        display: flex;
        justify-content: flex-start;
        div{
            width: 50%;
            ul{
                span{
                    font-size: 2rem;
                }
            }
            
        }
    }
}



.img1>img{
    width: 100%;
}

.thin{
    width: 100%;
    border-bottom:9px solid #F4F4F4;
   .Top{
       width: 100%;
       display: flex;
       justify-content: space-around;
       text-align: center;
       margin: 18px 0 26px 0;
         .iconfont{
           font-size: 34px;
           margin: 0 auto;
           color: white;
       }
    }
    .Bottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin:0 0 20px 0;
        .iconfont{
           font-size: 34px;
           margin: 0 auto;
           color: white;
       }
    }    
    p{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .icon{
            width: 35px;
            height: 35px;
            margin: 0 auto;
            use{
                color: white;
            } 
        }
    }
    h4{
        font-size: 14px;
        color: #333;
        margin: 5px 0 0 0 ;
    }
}
.all{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.all_1{
    width: 0.5rem;
    height: 2.1rem;
    background-color: #39C993;
    margin: 0.9rem 0.8rem;
}
.all_2{
    span:nth-of-type(1){
        font-size: 1.8rem;
        color: #000;
    }
    span:nth-of-type(2){
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #999;
    }
}
.pp>img{
    width: 98%;
    margin: 0.9rem 0.4rem;
}
.pic{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    border-bottom: 0.45rem solid #F4F4F4;
    div{
        width: 33%;
        margin-left: 2rem;
        margin-bottom: 1.8rem;
        img{
            color: #38C893;
        }
        span{
            font-size: 1.4rem;
            color: #000;
        }
    }
}
.ull2{
    width: 100%;
    display: flex;
    justify-content: center;
    li:nth-of-type(1){
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #38C893;
        margin-bottom: 1.8rem;
    }
    li:nth-of-type(2){
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #7C7C7C;
        margin-left: 1.5rem;
        margin-bottom: 1.8rem;
    }
}
.ul3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 0.45rem solid #F4F4F4;
    li{
        width: 29.3rem;
        height: 3.5rem;
        line-height: 3.5rem;
        border: 0.1rem solid #eaeaea;
        border-radius: 5%;
        font-size: 1.4rem;
        color: #cacaca;
        margin-top: 1.25rem;
    }
    li:nth-of-type(4){
        font-size: 1.8rem;
        text-align: center;
        color: white;
        background-color: #FEB605;
        margin-bottom: 1.8rem;
    }
}
.ul4{
   width: 100%;
   display: flex;
   justify-content: space-around;
   text-align: center;
   margin-top: 2rem;
   li{
       width: 25%;
       img{
           width: 60%;
       }
       p{
           font-size: 1.8rem;
           color: #000;
           margin: 1.25rem 0;
       }
       button{
           width: 6rem;
           height: 1.8rem;
           line-height: 1.8rem;
           color: white;
           font-size: 1.2rem;
           background-color: #39C893;
           text-align: center;
           border: none;
           border-radius: 5%;
       }
   } 
}
.d1{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.8rem;
    border-bottom: 0.45rem solid #F4F4F4;
    div{
        width: 48%;
        height: 3.5rem;
        color: #8CDFC0;
        font-size: 1.4rem;
        line-height: 3.5rem;
        border: 0.1rem solid #ccc;
        margin-bottom: 1.8rem;
    }
    a{
        margin-left: 0.8rem;
        color: #8CDFC0;
    }
}
.ul5{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    li{
        width: 49%;
        margin: 0.2rem 0;
        img{
            width: 100%;
        }
    }
}
.d2{
    width: 100%;
    display: flex;
    div{
        font-size: 1.4rem;
        color: #000;
        margin: 0.8rem;
    }
    button{
        background-color: #36C893;
        color: white;
        border: none;
        margin: 0.8rem;
    }
}
.d3{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.1rem solid #E9E9E9;
    margin-top: 1.6rem;
}
.d3_1{
    margin-left: 0.8rem;
    margin-bottom: 1.55rem;
    img{
        width: 9.5rem;
        height: 7.25rem;
    }
}
.p1{
    margin-top: 3.5rem;
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 1.5rem;
}
.p2{
    margin-top: 0.55rem;
    span{
        font-size: 1.4rem;
        color: #999;
    }
    a:nth-of-type(1){
        margin-left: 0.55rem;
    }
    a:nth-of-type(2){
        margin-left: 3.75rem;
    }
}
.zi{
    width: 100%;
    border-bottom: 0.45rem solid #F4F4F4;
    div{
       font-size: 1.4rem;
       text-indent: 1.8rem;
       margin-top: 1.8rem;
       margin-bottom: 1.8rem; 
       font-family: "微软雅黑";
    }
}
.fh{
    width: 100%;
    position: relative;
    div{
        font-size: 5.5rem;
        position: absolute;
        right: 1rem;
        top: -2rem;
        color: #ccc;
    }
}
.bot{
    width: 100%;
    text-align: center;
    margin-top: 1.8rem;
    a{
        color: #8AE0C0;
    }
    span{
        font-size: 1.4rem;
        color: #333;
    }
}
.last{
    width: 100%;
    display: flex;
    margin-top: 1.8rem;
    justify-content: space-around;
    text-align: center;
    li{
        width: 25%;
        font-size: 1.4rem;
    }
    li:nth-of-type(1){
        color: #8ADCBC;
    }
}
.ul6{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5.3rem;
    background-color: #000;
    opacity: 80%;
    li:nth-of-type(1){
        width: 15%;
        img{
            width: 50%;
        }
    }
    li:nth-of-type(2){
        width: 50%;
        img{
            width: 100%;
        }
    }
    li:nth-of-type(3){
        width: 35%;
        height: 2.5rem;
        border-radius:2rem 2rem;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2.5rem;
        background-color: #feb605;
        margin: 1.3rem 2rem;
    }
}
