@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.nav{
    width: 100%;
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 0.01rem solid #F3F3F3;
    div{
        margin-bottom: 0.1rem;
    }
    div:nth-of-type(1){
        width: 30%;
        img{
            width: 100%;
        }
    }
    div:nth-of-type(2){
        width: 50%;
        font-size: 0.24rem;
        color: #000;
        text-align: center;
        line-height: 0.45rem;
    }
    div:nth-of-type(3){
        width: 20%;
        ul{
            width: 50%;
            span{
                font-size: 0.15rem;
            }
            p{
                font-size: 0.18rem;
            }
        }
    }
}
.all{
    width: 100%;
    border-bottom: 0.01rem solid #F4F4F4;
    div:nth-of-type(2){
        font-size: 0.18rem;
        color: #000;
        margin-left: 0.18rem;
        margin-top: 0.18rem;
        margin-bottom: 0.15rem;        
    }
}
.all_1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.1rem;
    div:nth-of-type(1){
        span:nth-of-type(1){
            width: 0.3rem;
            height: 0.3rem;
            border-radius: 50%;
            background-color: #dcdcdc;
            font-size: 0.35rem;
            color: white;
            margin-left: 0.15rem;
        }
        span:nth-of-type(2){
            font-size: 0.14rem;
            color: #36C893;
            margin-left: 0.1rem;
        }
    }
    div:nth-of-type(2){
        font-size: 0.14rem;
        color: #999;
        margin-top: 0.05rem;
    }
}
.ul2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    
}
.num{
    height: 0.41rem;
    display: flex;
    width: 99%;
    justify-content: center;
    align-items: center;
    div:nth-of-type(1){
        width: 33%;
        background-color: #39C893;
        font-size: 0.18rem;
        color: white;
    }
    div:nth-of-type(2){
        width: 33%;
        font-size: 0.18rem;
        background-color: white;
    }
    div:nth-of-type(3){
        width: 33%;
        background-color: #39C893;
        font-size: 0.18rem;
        color: white;
    }
}
.zi{
    width: 100%;
    border-bottom: 0.045rem solid #F4F4F4;
    div{
       font-size: 0.14rem;
       text-indent: 0.18rem;
       margin-top: 0.18rem;
       margin-bottom: 0.18rem; 
       line-height: 0.3rem;
       font-family: "微软雅黑";
    }
}
.fh{
    width: 100%;
    position: relative;
    div{
        font-size: 0.55rem;
        position: absolute;
        right: 0.1rem;
        top: -0.2rem;
        color: #ccc;
    }
}
.bot{
    width: 100%;
    text-align: center;
    margin-top: 0.18rem;
    a{
        color: #8AE0C0;
    }
    span{
        font-size: 0.14rem;
        color: #333;
    }
}
.last{
    width: 100%;
    display: flex;
    margin-top: 0.18rem;
    justify-content: space-around;
    text-align: center;
    li{
        width: 25%;
        font-size: 0.14rem;
    }
    li:nth-of-type(1){
        color: #8ADCBC;
    }
}
.ul6{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 0.53rem;
    background-color: #000;
    opacity: 80%;
    li:nth-of-type(1){
        width: 15%;
        img{
            width: 50%;
        }
    }
    li:nth-of-type(2){
        width: 50%;
        img{
            width: 100%;
        }
    }
    li:nth-of-type(3){
        width: 35%;
        height: 0.25rem;
        border-radius:0.2rem 0.2rem;
        color: white;
        font-size: 0.12rem;
        text-align: center;
        line-height: 0.25rem;
        background-color: #feb605;
        margin: 0.13rem 0.2rem;
    }
}