@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

.nav {
  width: 100%;
  height: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom: 0.01rem solid #F3F3F3; }
  .nav div {
    margin-bottom: 0.1rem; }
  .nav div:nth-of-type(1) {
    width: 30%; }
    .nav div:nth-of-type(1) img {
      width: 100%; }
  .nav div:nth-of-type(2) {
    width: 50%;
    font-size: 0.24rem;
    color: #000;
    text-align: center;
    line-height: 0.45rem; }
  .nav div:nth-of-type(3) {
    width: 20%;
    display: flex;
    justify-content: flex-start; }
    .nav div:nth-of-type(3) ul {
      width: 50%; }
      .nav div:nth-of-type(3) ul span {
        font-size: 0.15rem; }
      .nav div:nth-of-type(3) ul p {
        font-size: 0.18rem; }

.ul1 {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .ul1 li {
    width: 25%; }
    .ul1 li span:nth-of-type(1) {
      font-size: 0.18rem;
      color: #000; }
    .ul1 li span:nth-of-type(2) {
      width: 0.125rem;
      height: 0.075rem;
      font-size: 0.15rem;
      color: #999; }
    .ul1 li div {
      width: 0.01rem;
      height: 0.25rem;
      display: inline-block;
      margin-left: 0.2rem;
      margin-top: 0.1rem;
      background-color: #f4f4f4; }

.search > p {
  text-align: center;
  font-size: 0.3rem;
  color: #36C893; }

.ul2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #F4F4F4;
  flex-wrap: wrap;
  text-align: center; }
  .ul2 li {
    width: 47%;
    margin: 0.06rem 0.03rem;
    background-color: white; }
    .ul2 li img {
      width: 100%; }
    .ul2 li p {
      margin-top: 0.125rem; }
      .ul2 li p div:nth-of-type(1) {
        font-size: 0.18rem;
        color: #000; }
      .ul2 li p div:nth-of-type(2) span {
        font-size: 0.1rem;
        margin: 0.1rem 0.15rem;
        color: #999; }

.num {
  height: 0.41rem;
  display: flex;
  width: 99%;
  justify-content: center;
  align-items: center; }
  .num div:nth-of-type(1) {
    width: 33%;
    background-color: #39C893;
    font-size: 0.18rem;
    color: white; }
  .num div:nth-of-type(2) {
    width: 33%;
    font-size: 0.18rem;
    background-color: white; }
  .num div:nth-of-type(3) {
    width: 33%;
    background-color: #39C893;
    font-size: 0.18rem;
    color: white; }

.zi {
  width: 100%;
  border-bottom: 0.045rem solid #F4F4F4; }
  .zi div {
    font-size: 0.14rem;
    text-indent: 0.18rem;
    margin-top: 0.18rem;
    margin-bottom: 0.18rem;
    line-height: 0.3rem;
    font-family: "微软雅黑"; }

.fh {
  width: 100%;
  position: relative; }
  .fh div {
    font-size: 0.55rem;
    position: absolute;
    right: 0.1rem;
    top: -0.2rem;
    color: #ccc; }

.bot {
  width: 100%;
  text-align: center;
  margin-top: 0.18rem; }
  .bot a {
    color: #8AE0C0; }
  .bot span {
    font-size: 0.14rem;
    color: #333; }

.last {
  width: 100%;
  display: flex;
  margin-top: 0.18rem;
  justify-content: space-around;
  text-align: center; }
  .last li {
    width: 25%;
    font-size: 0.14rem; }
  .last li:nth-of-type(1) {
    color: #8ADCBC; }

.ul6 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 0.53rem;
  background-color: #000;
  opacity: 80%; }
  .ul6 li:nth-of-type(1) {
    width: 15%; }
    .ul6 li:nth-of-type(1) img {
      width: 50%; }
  .ul6 li:nth-of-type(2) {
    width: 50%; }
    .ul6 li:nth-of-type(2) img {
      width: 100%; }
  .ul6 li:nth-of-type(3) {
    width: 35%;
    height: 0.25rem;
    border-radius: 0.2rem 0.2rem;
    color: white;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.25rem;
    background-color: #feb605;
    margin: 0.13rem 0.2rem; }

/*# sourceMappingURL=sass.css.map */
